html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
}

body {
	font-family: "Sniglet", cursive;
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	display: flex;
}

#avatar {
	width: 140px;
	height: 200px;
	margin-bottom: 70px;
}

#heart {
	margin-top: 70px;
	transform: rotate(13deg);
	transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#heart > img {
	min-width: 22px;
	max-width: 22px;
}

#heart:hover {
	transform: scale(1.5);
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category + .category {
	margin-top: 30px;
}

.category-header {
	font-size: 16px;
	margin-bottom: 20px;
}

.category-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.project {
	width: 140px;
	height: 90px;
	border-radius: 6px;
	border: 1px solid #EFEFEF;
	background: #FFFFFF;
	margin: 0 7px 0 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project:hover {
	transform: translate(0, -5px) scale(1.05) rotate(2deg);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
}

.project > img {
	max-width: 110px;
	max-height: 70px;
}

.social {
	margin: 0 9px 0 9px;
	transition: opacity 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social > img {
	height: 38px;
}

.category-social:hover > .social {
	opacity: 50%;
}

.category-social:hover > .social:hover {
	opacity: 100%;
}